.jukeblock {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 130px;
  height: 130px;

  background-color: #f2e8df;

  transition: 0.5s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.jukeblock:hover {
  transform: translateX(-3px) translateY(-3px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.jukeblock::after {
  content: " ";
  position: absolute;
  bottom: -10px;

  width: 0;
  height: 0;

  left: 50%;
  margin: 0 0 0 -1rem;
  transform: rotate(-180deg);

  border-top: 1rem solid none;
  border-bottom: 1rem solid #f2e8df;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
}

.jukeart {
  position: relative;

  width: 100px;
  height: 100px;

  z-index: 2;

  cursor: pointer;
}

.jukeart > img,
.artwrap {
  position: absolute;

  width: 100px;
  height: 100px;
}

.jukeart > .artwrap {
  background: rgba(0, 0, 0, 0.25);
}
